.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: azure;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
}